<style>
  .xyz 
  {
  
  border: 1px solid #0f0d0d;
  }
  .xyz tr{
    border: 1px solid #0f0d0d;
  }
  .xyz td{
    border: 1px solid #0f0d0d;
  }
</style> 

<html>
  <body>
    <h2> Q1: Find the division wise total_sale_price joining fact table and respective dimension table  </h2>
    <table class="xyz">
      <tr>
        <td> Division</td>
        <td> Total Sales </td>
      </tr>
      
      <tr *ngFor = "let d of data_all">
        <td> {{d.division}} </td>
        <td> {{d.sales}} </td>
      </tr>
    </table>
    <div class="chart-wrapper">
      <canvas baseChart 
      [type] = "'line'"
      [datasets] = "chartData"
      [labels] = "chartLabels"
      [options] = "chartOptions">
      </canvas>
    </div>
  </body>
</html>